.navbar{
	background: #1a1a1a;
	z-index: 100;
}
.navbar__about{
	position: absolute;
	left: 10px;
}
.navbar__about a {
	padding: 0;
}
.navbar__about a div {
	padding: 0;
	margin-left: 10px;
}
.btn__action{
	background-color: #bbc;
	color: black;
	font-weight: bold;
}
.btn__action:hover{
	background-color: #1a1a1a;
	color: #bbc;
}
.btn__action:focus{
	background-color: #1a1a1a;
	color: #bbc;
}
@media (max-width:992px) {
	#sidenav-overlay{
		z-index: 0!important;
	}
}
